[defaults]
inventory = inventory
remote_user = ansible
host_key_checking = false
deprecation_warning = false
vault_password_file = master_password.txt

[privilege_escalation] 
become = True
become_method = sudo
become_user = root
become_ask_pass = False
